@tailwind base;
@tailwind components;

html,
body {
  @apply overflow-x-hidden;
}

img {
  @apply w-auto h-auto max-w-full;
}

body {
  @apply font-plus font-bold text-xs md:text-sm lg:text-lg bg-stone-900 text-white;
}

.wrapper {
  @apply max-w-[1536px] w-full mx-auto px-5;
}

.wrapper1 {
  @apply max-w-[1100px] w-full mx-auto px-5;
}

h1 {
  @apply text-3xl lg:text-5xl xl:text-7xl font-bold;
}

h2 {
  @apply text-2xl md:text-3xl lg:text-6xl font-bold;
}

h3 {
  @apply text-sm md:text-base lg:text-xl font-extrabold;
}

h4 {
  @apply text-xl md:text-3xl font-extrabold;
}

h5 {
  @apply text-2xl lg:text-4xl font-extrabold;
}

h6 {
  @apply text-2xl lg:text-7xl font-extrabold;
}

p {
  @apply text-sm lg:text-base xl:text-xl font-medium;
}

.shadow1 {
  @apply transition-all duration-300;
}

.btn {
  @apply inline-block text-sm lg:text-lg font-semibold bg-white hover:bg-stone-950 text-stone-900 hover:text-white rounded-lg py-2 xl:py-3 px-8 xl:px-12 shadow1;
}

.input {
  @apply w-24 border rounded-lg md:rounded-xl bg-transparent p-3 md:p-4;
}

.gradient {
  @apply bg-gradient-to-r from-stone-900 to-purple-950;
}

.gradient1 {
  @apply bg-gradient-to-r from-purple-950 to-stone-900;
}



@tailwind utilities;

.header-start {
  transition: all .4s ease;
  right: 0;
  left: 0;
  top: 0;
}

.header-start.active {
  position: fixed;
  z-index: 99;
  background-image: linear-gradient(to right, #3B0764, #1C1917);
  -webkit-animation: navbar .5s;
  animation: navbar .5s;
  border-bottom: 1px solid #581c87;
}

.header-start.active .head {
  padding: 20px 0;
}

.header-start.active .head .img_bg1 {
  width: 195px;
}

.header-start.active .bor {
  border-bottom: none;
}

@-webkit-keyframes navbar {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}

@keyframes navbar {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}